<form action="/" method="POST">
    First name:<br>
    <input type="text" name="first" value="Mickey">
    <br> Last name:<br>
    <input type="text" name="second" value="Mouse">
    <br><br>
    <input type="submit" value="Submit">
</form>